body {
  background-color: #529BF2;
  margin: 0;
  padding: 0;
}

footer {
  font-size: 8px;
  text-align: center;
  padding-top: 15rem;
  color: white;
}

p {
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 0.5rem 0 0.5rem 0;
}

h2, h1 {
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: left;
  padding: 1rem 0;
}

h4 {
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.virusImg {
  width: 100%;
  height: auto;
}

.maskImg {
  width: 3rem;
  height: 3rem;
}

.form-group {
  padding: 1rem 0;
}

.container-fluid {
  padding: 3% 15%;
}

.btn {
  background-color: #F2776B;
  border: none;
}

.buttonMain {
  padding: 0 0 0 0rem; 
}

#form {
  padding: 0 1rem 0 0;
}
