body {
  background-color: #529BF2;
}

.container-fluid {
  padding: 3% 15%;
}

p {
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}

h2, h1 {
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}

h4 {
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}

img {
  width: 3rem;
  height: 3rem;
}
